{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": "commonjs",
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
