{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}
